# Flutter / Dart / Firebase
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.idea/
.vscode/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist